<form [formGroup]="resetForm" (keydown.enter)="disableEnter($event)" autocomplete="off">
  <mat-form-field appearance="outline" class="w-100 mt-2">
    <mat-label>Usuario </mat-label>
    <input formControlName="usuario" matInput value="" autocomplete="off" />

    <mat-error *ngIf="this.resetForm.controls['usuario'].hasError('required')">
      Usuario es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>

  <!-- clave antigua -->
  <mat-form-field appearance="outline" class="w-100 mt-2">
    <mat-label>Ingrese su contraseña actual</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="clave" autocomplete="off" />
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar Contraseña'">
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>

    <mat-error *ngIf="this.resetForm.controls['clave'].hasError('required')">
      Contraseña actual es <strong>requerida</strong>
    </mat-error>
  </mat-form-field>

  <!-- nueva clave -->
  <mat-form-field appearance="outline" class="w-100 mt-2">
    <mat-label>Ingrese su nueva contraseña</mat-label>
    <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="nuevaClave" autocomplete="off" />
    <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Ocultar Contraseña'">
      <mat-icon>{{ hideNew ? "visibility_off" : "visibility" }}</mat-icon>
    </button>

    <mat-error *ngIf="nuevaClave?.invalid && (nuevaClave?.dirty || nuevaClave?.touched)">
      {{getErrorMessage('nuevaClave')}}
    </mat-error>

  </mat-form-field>

  <!-- confirmar nueva clave -->
  <mat-form-field appearance="outline" class="w-100 mt-2">
    <mat-label>Confirme su nueva contraseña</mat-label>
    <input matInput [type]="hideReNew ? 'password' : 'text'" formControlName="claveConfirmada" autocomplete="off" />
    <button mat-icon-button matSuffix (click)="hideReNew = !hideReNew" [attr.aria-label]="'Ocultar Contraseña'">
      <mat-icon>{{ hideReNew ? "visibility_off" : "visibility" }}</mat-icon>
    </button>

    <mat-error *ngIf="this.resetForm.controls['claveConfirmada'].hasError('required')">
      Confirmar contraseña es <strong>requerida</strong>
    </mat-error>

    <mat-error *ngIf="this.resetForm.get('claveConfirmada')?.hasError('passwordMismatch')">
      Esta clave no coincide con la nueva clave.
    </mat-error>
  </mat-form-field>

  <button [disabled]="resetForm.invalid" mat-raised-button color="accent" (click)="reset()">
    Aceptar
  </button>
</form>