<div style="margin: 20px">
  <mat-card>
    <mat-card-title>
      <div class="card row">
        <div class="col-10" style="margin-left: 50px">
          <h1 class="titulo" style="text-align: left">
            Bienvenido al Sistema de Facturación Electrónica
          </h1>
          <div>
            <div>
              <h3>Elija entre las opciones del menú lateral para continuar.</h3>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="centrado">
        <img alt="desc cnr fin recreativo" src="assets/images/cnr.png" alt="" />
      </div>
    </mat-card-title>
  </mat-card>
</div>

<mat-card>
  <mat-card-title>
    <div class="row">
      <div class="col-10">
        <h2><< Nombre de la Funcionalidad>></h2>
      </div>
    </div>

    <hr />
  </mat-card-title>

  <mat-card-content>
    <mat-dialog-content class="mat-typography">
      <button mat-raised-button color="accent" class="text-uppercase">
        <i class="fas fa-plus me-2"></i>
        Abrir Modal
      </button>

      <button mat-raised-button color="warn" class="text-uppercase">
        <mat-icon>cloud_upload</mat-icon>
        Abrir Modal 2
      </button>
    </mat-dialog-content>
  </mat-card-content>
</mat-card>
